<a href="https://colab.research.google.com/github/pavanreddy0829/Hosting/blob/main/TASK3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Q.1 Write a Python Program to sort (ascending and descending) a dictionary by value.

In [1]:
import operator  
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}  
print('Original dictionary : ',d)  
sorted_d = sorted(d.items(), key=operator.itemgetter(0))  
print('Dictionary in ascending order by value : ',sorted_d)  
sorted_d = sorted(d.items(), key=operator.itemgetter(0),reverse=True)  
print('Dictionary in descending order by value : ',sorted_d)

Original dictionary :  {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
Dictionary in ascending order by value :  [(0, 0), (1, 2), (2, 1), (3, 4), (4, 3)]
Dictionary in descending order by value :  [(4, 3), (3, 4), (2, 1), (1, 2), (0, 0)]

### Q.2 Write a Python Program to add a key to a dictionary. 

Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}

In [2]:
d={1:1,2:4}
print(d)
d[3]=9
print(d)

{1: 1, 2: 4}
{1: 1, 2: 4, 3: 9}

### Q.3 Write a  program asks for City name and Temperature and builds a dictionary using that Later on you can input City name and it will tell you the Temperature of that City.

In [7]:
s=int(input("Enter number of cities to enter"))
d={}
for i in range(s):
  city=input("Enter city name")
  temperature=int(input("Enter city temperature"))
  d[city]=temperature
print(d)
s=input("Enter any city name to know current temperature")
if s in d.keys():
  print(d[s])
else:
  print("enter valid city name")

Enter number of cities to enter4
Enter city namemumbai
Enter city temperature42
Enter city namekolkata
Enter city temperature40
Enter city namepune
Enter city temperature35
Enter city namebihar
Enter city temperature45
{'mumbai': 42, 'kolkata': 40, 'pune': 35, 'bihar': 45}
Enter any city name to know current temperaturepune
35

### Q. 4 Write a Python program to convert list to list of dictionaries.

Sample lists: ["Black", "Red", "Maroon", "Yellow"], ["#000000", "#FF0000", "#800000", "#FFFF00"]

Expected Output: [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [10]:
l=["Black", "Red", "Maroon", "Yellow"]
c=["#000000", "#FF0000", "#800000", "#FFFF00"]
ans=[]
for i,j in zip(l,c):
  d={'color_name': None,'color_code':None}
  d['color_name']=i
  d['color_code']=j
  ans.append(d)
for i in ans:
  print(i)

{'color_name': 'Black', 'color_code': '#000000'}
{'color_name': 'Red', 'color_code': '#FF0000'}
{'color_name': 'Maroon', 'color_code': '#800000'}
{'color_name': 'Yellow', 'color_code': '#FFFF00'}

Using above create a dictionary of Employees and their Salary
Write a program that asks user for three type of inputs,
print: if user enter print then it should print all Employees with their Salary in this format,
1.John ==>14
2.Smith ==>13
3.Alice ==>32
 Daneil ==>21
add: if user input adds then it should further ask for an Employee name to add. If Employee already exists in our dataset then it should print that it exists and do nothing. If it doesn't then it asks for Salary and add that new Employee/Salary in our dictionary and print it
remove: when user inputs remove it should ask for an Employee to remove. If an Employee exists in our dictionary then remove it and print a new dictionary using format shown above in (a). Else print that Employee doesn't exist!
query: on this again ask the user for which Employee he or she wants to query. When a user inputs that Employee it will print the Salary of that Employee.

In [12]:
employe = {'john':14,'smith': 13,'alice':32,'dinel':21}
print(employe)

{'john': 14, 'smith': 13, 'alice': 32, 'dinel': 21}

In [20]:
print("Employee details and details")
print('type print for employee detials')
print('type add to add any employee details')
print('type remove to remove any employee details')
print('type query to again query the employee details')
flag=1
while(flag):
  s=input().lower()
  if(s=='print'):
    print(d)
    flag=0
  elif(s=='add'):
    name = input("enter employee name")
    salary=int(input("enter salary"))
    d[name]=salary
    print(d)
    flag=0
  elif(s=='remove'):
    name=input("enter employee name to remove")
    if name in d.keys():
      d.pop(name)
      print(d)
    else:
      print("enter valid name")
    flag=0
  elif(s=='query'):
    print("query again")
  else:
    pass

Employee details and details
type print for employee detials
type add to add any employee details
type remove to remove any employee details
type query to again query the employee details
query
query again
print
{'color_name': 'Yellow', 'color_code': '#FFFF00', 'pavesh': 12000}

###  Q.1 What is the difference between a set and a frozenset? Create any set and try to use frozenset(setname).

In [23]:
#main difference is set is mutable whereas frozen set is immutable
s=set([1,2,3,4])
print(s)

{1, 2, 3, 4}

In [24]:
Set = frozenset([1,2,3,4,5])   

print(type(Set))  

for i in Set:  

    print(i);

<class 'frozenset'>
1
2
3
4
5

In [25]:
Set.discard(3) #Gives a error since we cannot change an element in frozenset

AttributeError: ignored

Q.2 Find the elements in a given set that are not in another set

    set1 = {10,20,30,40,50}

    set2 = {40,50,60,70,80}

 Difference between set1 and set2 is {10,20,30}

In [26]:
set1 = {10,20,30,40,50}
 
set2 = {40,50,60,70,80}

print(set1-set2)

{10, 20, 30}